.DS_Store
Data
Data/ACDC
Data/SunnyBrook
Data/SunnyBrook dataset
Code/Segmentation/cardiac_cine_mri_segmentation/Datasets
Code/Segmentation/cine_Segmenation/Datasets
Code/Segmentation/cardiac_cine_mri_segmentation
Code/Segmentation/ACDC
/Data
