.DS_Store
Data/ACDC
Data/SunnyBrook
Code/Segmentation/cardiac_cine_mri_segmentation/Datasets
Code/Segmentation/cine_Segmenation/Datasets
Code/Segmentation/cardiac_cine_mri_segmentation
Code/Segmentation/ACDC