.DS_Store
Data
Data/ACDC
Data/SunnyBrook
Data/SunnyBrook dataset
Code/Segmentation/cardiac_cine_mri_segmentation/Datasets
Code/Segmentation/cine_Segmenation/Datasets
Code/Segmentation/cardiac_cine_mri_segmentation
Code/Segmentation/ACDC
/Data
/Code/ventricular_short_axis_3label/configs
/Code/ventricular_short_axis_3label/models
/Code/ventricular_short_axis_3label/tensorflow_env
! Code/ventricular_short_axis_3label/docs
Code/Wave/Saved
Code/Wave/Saved_test
Code/Wave/trash
Code/Segment/nnUNetFrame/dataset/nnUNet_trained_models
Code/Wave_SimulatorV2/Dr_Reference_code/heart_cine_simulateV2.ipynb
Code/Wave_SimulatorV2/Dr_Reference_code/wave_simulation.ipynb
Code/Wave_SimulatorV2/drafts/heart_cine_simulate.ipynb
Code/Wave_SimulatorV2/heart_cine_simulate.ipynb
Code/Wave_SimulatorV2/drafts/simualte.ipynb
Code/Wave_SimulatorV2/generatedData
Code/Archive/patient5
Code/Archive/predicted5
Code/FrameWork/Loaded_data
Code/Wave_SimulatorV2/Dr_Reference_code/V3/heart_cine_simulate.ipynb